.AppDivMain{
    
    max-width: 100%;
    background: rgb(131,58,180);
background: linear-gradient(90deg, 
rgba(131,58,180,1) 0%, 
rgba(253,29,29,0.6306897759103641) 46%, 
rgba(252,176,69,1) 100%);
}
.AppCol{
    margin-top: 1px;

}


    